<h1>Witamy w systemie zarządzania recepturami!</h1>

<p>
  Ten system pomoże Ci zarządzać Twoimi ulubionymi przepisami i składnikami. 
  Możesz dodawać nowe przepisy, edytować istniejące i przeglądać listę składników.
</p>

<p>
  Pamiętaj, że zdrowe odżywianie to podstawa dobrego samopoczucia!
  Dlatego warto zwracać uwagę na wartości odżywcze spożywanych produktów, 
  takie jak białko, węglowodany, tłuszcze, witaminy i minerały.
</p>

<p>
  W naszej bazie znajdziesz informacje o wartościach odżywczych wielu składników, 
  co pomoże Ci w komponowaniu zdrowych i smacznych posiłków.
</p>

<ul>
  <li><%= link_to "Przepisy", recipes_path %></li>
  <li><%= link_to "Składniki", ingredients_path %></li>
</ul>